@page {
    margin: 0cm 0cm;
    font-family: Arial;
}

body {
    margin: -1cm 1cm -15cm;
}

.img-fluid {
    margin: left;
}

header {
    position: absolute;
    top: 0cm;
    left: 0cm;
    right: 0cm;
    height: 1.5cm;
    margin-bottom: 50px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 30px;
}

header>h1 {
    margin: 10px;
    padding: 2px;
}

footer {
    position: fixed;
    bottom: 0cm;
    left: 0cm;
    right: 0cm;
    height: 0.5cm;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 35px;
}

footer>h3 {
    margin-top: -12px;
    font-size: 15px;

}


table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

td {
    border: .5px solid black;
}

tr:nth-child(even) {
    background-color: #ddd;
    color: black;
}

thead {
    background-color: black;
    color: white;
    /* border-bottom: solid 5px rgb(143, 141, 141); */
}

.createdby {
    margin-top: 120 px;
    text-align: right;
}
