.search {
    width: 80%;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 30px;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: 10px 10px 10px;
    transition: width 0.4s ease-in-out;
    background-color: white;
    margin-bottom: 5px;
}

.search:focus {
    width: 100%;
}

label {
    padding: 0;
    margin: 0;
    color: black;
    font-weight: bold;
}

select {
    padding: 7px;
    background-color: lightgray;
    border: 1px solid #0c8461;
    width: 100%;
    border-radius: 5px;
}

.publicar {
    background-color: #177c67;
    border: none;
}

.publicar:hover {
    background-color: #0e5244;
}

input[type=text] {
    background-color: lightgray;
    border-radius: 5px;
    border: 1px solid #0c8461;
    box-sizing: border-box;
}

input[type=text]:focus {
    background-color: #177c67;
    color: white;
}

input::placeholder {
    color: grey !important;
    opacity: 1;
}

input[type=email] {
    background-color: lightgray;
    border-radius: 10px;
    border: 1px solid #0c8461;
    box-sizing: border-box;
}

input[type=email]:focus {
    background-color: #177c67;
    color: white;
}

input[type=password] {
    border-radius: 10px;
    background-color: lightgray;
    border: 1px solid #0c8461;
}

input[type=password]:focus {
    background-color: #0c8461;
    outline-offset: none;
    color: white;
}

input[type=date] {
    border-radius: 5px;
    background-color: lightgray;
    border: 1px solid #0c8461;
    width: 100%;
    padding: 5px;
    margin: 0;
}

input[type=date]:focus {
    border-radius: 5px;
    border: 1px solid #0c8461;
    width: 100%;
}

input[type=number] {
    border-radius: 5px;
    background-color: lightgray;
    border: 1px solid #0c8461;
    width: 100%;
    height: 100%;
    padding: 5px;
    margin: 0;
}

input[type=number]:focus {
    border-radius: 5px;
    border: 1px solid #0c8461;
    width: 100%;
    height: 100%;
}

textarea[type=text]::placeholder {
    color: grey;
    opacity: 1;
}

textarea[type=text] {
    border-radius: 5px;
    background-color: lightgray;
    text-decoration-color: black;
    border: 1px solid #0c8461;
    box-sizing: border-box;
    color: black;
    outline: none;
}

textarea[type=text]:focus {
    background-color: #177c67;
    border: none;
    color: white;
}

p#texto {
    text-align: center;
    color: white;
}

div#input-file {
    position: relative;
    margin: 18px;
    padding: 4px;
    width: 190px;
    height: 30px;
    background-color: #177c67;
    border-radius: 5px;
}

div#input-file:hover {
    background-color: #0e5244;
}

input#imagen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.request {
    margin-top: 15px;
    margin-bottom: 15px;
    left: 300px;
}


.table-anuncio {
    white-space: nowrap;
}

table {
    width: 100%;
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}

@media screen and (max-width: 767px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .table-responsive>.table {
        margin-bottom: 0;
    }

    .table-responsive>.table>thead>tr>th,
    .table-responsive>.table>tbody>tr>th,
    .table-responsive>.table>tfoot>tr>th,
    .table-responsive>.table>thead>tr>td,
    .table-responsive>.table>tbody>tr>td,
    .table-responsive>.table>tfoot>tr>td {
        white-space: nowrap;
    }
}

tr:hover td {
    background-color: #0e5244;
    color: white;
}

.acep {
    margin-top: 3px;
    background-color: #177c67;
    border: none;
    height: 100%;
}

.acep:hover {
    background-color: #0c8461;
}

.save {
    background-color: #177c67;
    border: none;
}

.save:hover {
    background-color: #0c8461;
}



.edit {
    margin: 2px;
}

.acciones {
    display: flex;
}

.acep {
    margin: 2px;
}

.dene {
    margin: 2px;
}

.user {
    margin: 2px;
    background-color: #177c67;
    border: none;
}

.user:hover {
    background-color: #0c8461;
}

.report {
    margin: 2px;
}

.jumbotron {
    padding: 25px;
}
